<h1>{{ date | greet: credentials.username }}</h1>
<div class="profile-settings">

	<a href="/profile"><span ng-class="{ active: activePage == 'profile'}" alt="open your profile" class="setting glyphicon glyphicon-user" aria-hidden="true"></span></a>

	<a href="/guide"><span ng-class="{ active: activePage == 'guide'}" alt="open your calendar" class="setting glyphicon glyphicon-calendar" aria-hidden="true"></span></a>

	<span  ng-class="{ active: activePage == 'settings'}" alt="change your settings" class="setting glyphicon glyphicon-cog" ng-click="isCollapsed = !isCollapsed" aria-hidden="true"></span>

</div>
<p class="hidden-xs">Currently you are <strong>following {{ series.length }} shows.</strong> You have <strong><a href="/guide">{{ unseenAmount }} unwatched episodes</a></strong> waiting for you. Use the filters below to display shows that match your criteria. By the way, did you know you are following more series then 76% of your fellow Episode Alert users? Neither did we. Do  you have some great ideas for the site? Feel free to give us a shout.</p>
