<a href="/series/{{ ::series.unique_name}}">
	<span class="badge">{{ series.unseen_epsiodes }}</span>
	<img class="img-responsive" ng-src="{{ series.poster_image | createImageUrl : series.unique_name : 'medium' }}" alt="{{ series.name }}" />
</a>
<div class="extra-info">
	<a href="/series/{{ ::series.unique_name}}">{{ ::series.name }}</a>
	<p>Your current episode:</p>
	<p>Season 5 - Episode 3 - <a href="#">Find</a></p>
</div> 
<div class="extra-info-episodes">
	<p>Latest: Season 4 - Episode 5</p>
	<p>Next episode: 18-9-2014
</div>  

