<a href="/series/{{ ::series.unique_name}}">
	<span class="badge">{{ series.unseen_episodes }}</span>
	<img class="img-responsive" ng-src="{{ series.poster_image | createImageUrl : series.unique_name : 'medium' }}" alt="{{ series.name }}" />
</a>
<div class="extra-info">
	<a href="/series/{{ ::series.unique_name}}">{{ ::series.name }}</a>
    <span ng-if="series.current_episode != null">
	   <p>Your current episode:</p>
	   <p>Season {{ ::series.current_episode.season }} - Episode {{ ::series.current_episode.episode }} - <a href="#">Find</a></p>
    </span>
</div> 
<div ng-if="series.status == 'Ended'" class="extra-info-episodes">
	<p>Status: Ended</p>
    <p>&nbsp;</p>
</div>  
<div ng-if="series.status != 'Ended'" class="extra-info-episodes">
	<p>Latest: Season 4 - Episode 5</p>
    <p>Next episode: 18-9-2014</p>
</div>  
