<div class="series">
  <a href="/series/{{series.unique_name}}">
  	<span class="badge">{{ series.unseen_epsiodes }}</span>
    <img class="img-responsive hidden-xs hidden-sm" ng-src="{{ series.poster_image | createImageUrl : series.unique_name : 'medium' }}" alt="{{ series.name }}" />
    <img class="img-responsive hidden-md hidden-lg" ng-src="{{ series.banner_image | createBannerUrl : series.unique_name }}" alt="{{ series.name }}" />
  </a>
  <span>{{series.name}}</span>
</div>
<!-- <div class="extra-info">
	<a href="/series/{{series.unique_name}}">{{ series.name }}</a>
</div>  -->

<button 
  ng-controller="FollowingCtrl"
  ng-show="series"
  ng-mouseover="mouseOver(series)" 
  ng-mouseout="mouseOut(series)" 
  ng-click="toggleFollowing(series)"
  ng-class="series.following ? 'following' : 'notfollowing'"
  class="btn following-button following-button--search-results" >{{ buttonLabel }}</button>


