tr:hover{
	background-color:#7AF500;
	cursor: pointer;
}

#users{
	font-size:0.9em;
}

h1{
	font-size:2.1em;
	border-bottom:1px solid #ccc;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
}

h2{
	font-size:1.2em;
	border-bottom:1px solid #ccc;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
	color:black;
}	

#users table{
	width:100%;
}

#series{
}

#series table{
	width:100%;
}
