.calendar-carousel{
    text-align: center;
    position: relative;
    @media(max-width: $screen-xs-max){
        top: -70px;
    }

    li{
        background-color: rgba(0,0,0,0.8);
        margin: 8px;
        padding: 4px;
        border-radius: 8px;
        z-index: 1;
        border: 2px solid lighten( $bright-highlight, 30% );

        @media(max-width: $screen-xs-max){
            font-size: 80%;
            border: none;
            margin: 0px;
            border: 1px solid lighten( $bright-highlight, 30% );
            padding: 0px;
        }
    }

    i{
        cursor: pointer;
        position: absolute;
        top: 1em;
        font-size: 5em;
    }

    h2{
        @media(max-width: $screen-xs-max){
            font-size: 120%;
        }
    }

    li{
        text-align: center;
        list-style-type: none;
    }

}