@CHARSET "ISO-8859-1";

$dark-color: #212a3f;
$light-color: #434f5b;
$background-color: #f2f2f2;
$highlight-color: #8ab839;
$primary-color: #2e2e2e;
$font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

body {
    padding-top: 70px;
    background-color: $background-color;
    color: $primary-color;
    font-family: $font-family;
}

.splash-fanart {
    width: 100%;
    height: 740px;
    background-size: cover;
    background: transparent no-repeat top center;
    position: relative;
    margin-top: 50px;
}
.splash-fanart-fade {
    width: 100%;
    height: 100%;
    background: transparent url('../img/fanart-fade.png') repeat;
    display: block;
    position: absolute;
}
.splash-brand {
    font-size: 52px;
    text-align: center;
}

.marketing {
    top: -50px;
    text-align: center;
    position: absolute;
    width: 100%;

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }
}

.poster {
    background-color: $background-color;
    padding: 4px;
    display: inline-block;
    height: 320px;
}

.series-search{
    padding: 0px;
    margin: 0px;

    li{
        width: 150px;
        text-align: center;
        display: inline-block;
        list-style: none;
        padding: 10px 10px 10px 10px;
    }

    a{
        img{
            display: inline-block;
            height: 130px;
            padding: 5px;
        }

        h3{
            display: block;
            font-size: 14px;
            margin: 0px 0px 0px 0px;
        }
    }

    a:hover{
        text-decoration: none;
    }
}

.splash-posters {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;

    .series {
        cursor: pointer;
        width: 20%;
        display: inline-block;
        text-align: center;
        position: relative;
        padding-bottom: 20px;

        span {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: $dark-color;
            height: 12px;
            left: 0;
        }

        .active {
            background-color: $highlight-color;
        }
    }
}

.navbar-default {
    border: 0;
    background-color: $primary-color;

    .navbar-text {
        color: $background-color;
    }

    .navbar-link {
        color: $highlight-color;
    }

    .navbar-nav>li>a {
        color: $background-color;
    }

    .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
        color: $highlight-color;
        background-color: transparent;
    }

    .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
        color: $background-color;
        background-color: $light-color;
    }

    .btn {
        height: 46px;
        background-color: $background-color;
        background-image: none;
        border: 0;
        border-radius: 0;
    }
}

.navbar-brand {
    padding: 5px 5px;
}
.navbar-form {
    margin-bottom: 2px;
    margin-top: 2px;
}
.form-control {
    height: 46px;
    color: $primary-color;
    background-color: $background-color;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
