@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'scss/bootstrap-social';

@CHARSET "ISO-8859-1";

$light-text: #C9C9C9;
$bright-highlight : #00ff90;
$dark-color: #212a3f;
$light-color: #434f5b;
$background-color: #101010;
$highlight-color: #8ab839;
$primary-color: #252525;
$secondary-color: #363636;
$lighter-text-shadow: #0F0F0F;
$lighter-text: #e7e7e7;
$font-family: "Open Sans", sans-serif;


.registration{
    h1{
        color: $bright-highlight;
    }
    ul{
        padding-left:30px;
        font-size: 1.3em;
    }

}

.password-reset{
    form{
        width: 45%;
    }
}

.login{
    h1{
        color: $bright-highlight;
    }
    .social-login{
        a{
            width: 50%;
        }
    }
    .password-reset{
        font-size: 1em;
        padding-left: 17px;
    }
    form{
        width: 75%;
    }
    .register{
        font-size: 1.4em;
    }
}



body {
    background-color: $background-color;
    color: #fff;
    font-family: $font-family;
    font-weight: 400;
    overflow-y: scroll;
}

/* spacers */

.spacer-lg{
    padding-top: 40px;
    padding-bottom: 40px;
}

.spacer-md{
    padding-top: 30px;
    padding-bottom: 30px;
}

.spacer-sm{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* reset some defaults */

button:focus,
button:active {
    outline: none !important;
}

a {
    color: $bright-highlight;
}

a:hover, a:focus {
    color: $bright-highlight;
}

p {
    margin: 0 0 0px;
}

ul {
    padding-left:  0px;
}

/* overwrite for angular-ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* background image test for serie details */

.background-container {
/*    background: url(http://localhost/img/fanart/ch/chuck.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    opacity: 0.1;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -9999;*/
}

.form-control-feedback{
    color: #000000;
}

.ea-alert{
    bottom: 20px;
    right: 20px;
    position: fixed;
    width: 310px;
    height: auto;
    list-style-type: none;
    z-index: 10000000;

    .close{
        opacity: 1;
    }

    .alert{
        margin-bottom: 5px;
        .alert-success{
            color: rgb(0, 100, 0);
        }
    }

    .top{

    }
}

.ea-alert-top{
    margin-top: 10px;

    .close{
        opacity: 1;
    }
}

.unseen-badge{
    position: absolute;
    top: -10px;
    right: 0px;
}

.settings{
    .settings-block{

        h3{
            margin-top: 0px;
        }

        div:first-child{
            background-color: $primary-color;
            padding: 15px;

            div{
                padding: 5px 0px 5px 0px;
            }
        }

        button{
            margin-top: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 120%;
            border: 2px solid #00ff90;
            color: #00ff90;
            border-radius: 15px;
            padding: 3px 10px 4px 8px;
        }
    }
}

.splash-fanart {
    @media(max-width: $screen-xs-max){ height: 405px; }
    @media(min-width: $screen-sm-min){ height: 740px; }
    @media(min-width: $screen-md-min){ height: 740px; }
    @media(min-width: $screen-lg-min){ height: 740px; }

    /* for lower resolution laptops the series were falling out of the screen */
    @media(max-height: 740px)
    {
        height: 450px;
    }

    position: relative;
    margin-top: 50px;
    .fanart-background {
        position: absolute;
        background-size: cover;
        background-position: center bottom;
        width: 100%;
        @media(max-width: $screen-xs-max){ height: 405px; }
        @media(min-width: $screen-sm-min){ height: 740px; }
        @media(min-width: $screen-md-min){ height: 740px; }
        @media(min-width: $screen-lg-min){ height: 740px; }

        /* for lower resolution laptops the series were falling out of the screen */
        @media(max-height: 740px)
        {
            height: 450px;
        }
    }
}
.fanart-background.ng-hide-add, .fanart-background.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}

.fanart-background.ng-hide-add-active,
.fanart-background.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transition: 1s linear all;
}

.fanart-background.ng-hide-add { opacity: 1; }
.fanart-background.ng-hide-add.ng-hide-add-active { opacity: 0; }
.fanart-background.ng-hide-remove { opacity: 0; }
.fanart-background.ng-hide-remove.ng-hide-remove-active { opacity: 1; }

.splash-fanart-fade {
    width: 100%;
    height: 100%;
    background: transparent url('/img/fanart-fade.png') repeat;
    display: block;
    position: absolute;
}

.ea-content {
	min-height: 600px;
}

.container--navbar {
    font-weight: 300;
    background-color: #252525;
    @media(min-width: $screen-sm-min){ padding: 12px 0px 12px 20px; }

    p{
        margin-right: 10px;
    }
}

//remove padding from the container
.container {

}

// usage; description of series, profile welcome, other info
h1 {
    font-size: 200%;
    margin: 0px;
    line-height: 150%;
    display: inline-block;
}

.info-text-top {

    padding: 3px 60px 20px 60px;
    @media(max-width: $screen-xs-max){ padding: 3px 0px 0px 0px; }
    //background-color: $background-color;

    p {
        line-height: 180%;
    }

    h1 {
        @media(max-width: $screen-xs-max) { font-size: 100%; }
    }
}

.profile-settings{
    display: inline-block;
    font-size:150%;
    top: 2px;
    margin: 0px 10px 0px 10px;
    @media(max-width: $screen-xs-max)
    {
        font-size: 100%;
    }



    .setting{
        color: $bright-highlight;
        cursor: pointer;

    }

    .setting.active{
        color: $highlight-color;;
    }

    .setting:hover{
        color: $highlight-color;
    }

}



.footer{
    font-size: 80%;
    div{
        color: $lighter-text;
        text-align: right;
    }

    div:first-child {
        text-align: left;
    }

}

.calendar-carousel{
    text-align: center;


    h2{

    }

    li{
        text-align: center;
        list-style-type: none;
    }

}


.profile, .guide {
    .profile-filters, .guide-filters {
        height: 40px;
        padding: 5px 0px 5px 20px;
        @media(max-width: $screen-xs-max){ padding: 5px 0px 5px 0px; }
        background-color: $primary-color;

        span {
            padding-right:5px;
        }

        .btn {
            margin-left: 10px;
            font-size: 75%;
            background-color: #1a1a1a;
            border-radius: 0px;
            text-transform: uppercase;
            color: #fff;

            /* make all filter buttons fit on one line on iPhone 5 */
            @media(max-width: $screen-xs-max) { margin-left: 6px; }
        }

        .btn-profile--toggle{
            font-size: 150%;
            background-color: $primary-color;
            height: 30px;
            margin-top: -4px;
            float: right;
        }

        .btn:focus {
          outline: none;
        }

        .active {
            color: $bright-highlight;
        }

        .btn:hover {
            color: $bright-highlight;
        }
    }

    .profile-series {
        background-color: $background-color;
    }
}

.guide {
//    li {
//        list-style: none;
//        h2 {
//            color: #14B6CC;
//            font-weight: bold;
//            font-size: 16px;
//            margin: 10px 0;
//            padding: 8px;
//        }
//        .unseen-episode, .unaired-episode, .unseen-episodes p, .unaired-episodes p {
//            padding: 3px;
//        }
//        .unseen-episode, .unseen-episodes, .unaired-episodes {
//            color: $lighter-text;
//        }
//        .unaired-episode {
//            color: #666;
//        }
//        .unseen-episodes, .unaired-episodes {
//            border-top: 1px solid #333;
//        }
//        .unaired-episodes {
//            margin-bottom: 30px;
//        }
//    }

    table{
        background-color: $background-color;

        td{
            border:none !important; //important sucks
        }

        tr:nth-of-type(odd){
           background-color: lighten( $background-color, 2% );
        }
    }

}

/* ng animation */

/* if animation */
.animate-if {

}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    transform: scale(0,0);
    opacity: 0;
    display: block !important;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    transform: scale(1,1);
    opacity: 1;
}
/* end if animation */

/* After the transition this will be the only class remaining */
.fadein {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.35s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.35s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.35s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.35s;
  opacity: 1; /* Default value but added for clarity */
}

/* Initial state when showing */
.fadein.ng-hide-remove {
    transform: scale(0,0);
    opacity: 0;
    display: block !important;
}

/* Will transition towards this state */
.fadein.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1,1);
    opacity: 1;
}

/* fade used for main content */
.fade {
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

.fade.ng-enter{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fade.ng-leave{
    display: none;
}

.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.fade-slow {
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
}
.fade-slow.ng-enter,
.fade-slow.ng-leave{
    -webkit-transition: all 1.25s ease;
    -moz-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
}
.fade-slow.ng-enter {
    opacity: 0;
}
.fade-slow.ng-enter-active {
    opacity: 1;
}
.fade-slow.ng-leave {
    opacity: 1;
}
.fade-slow.ng-leave-active {
    opacity: 0;
}

.flash-container {
    background-color: $background-color;
}

#flash-messages {
    list-style-type: none;
}

#spinner {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 70px;
    text-align: center;

    div {
        width: 18px;
        height: 18px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.animation .ng-enter,
.animation .ng-show {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.animation .ng-leave,
.animation .ng-hide {
  -webkit-transition:0s linear all;
  transition:0s linear all;
}

.animation .ng-enter,
.animation .ng-show,
.animation .ng-leave.ng-leave-active,
.animation .ng-hide.ng-hide-active {
  opacity:0;
}
.animation .ng-leave,
.animation .ng-hide,
.animation .ng-enter.ng-enter-active,
.animation .ng-show.ng-show-active {
  opacity:1;
}

.splash-brand {
    @media(max-width: $screen-xs-max){ font-size: 34px; }
    @media(min-width: $screen-sm-min){ font-size: 42px; }
    @media(min-width: $screen-md-min){ font-size: 52px; }
    @media(min-width: $screen-lg-min){ font-size: 52px; }
    font-size: 52px;
    text-align: center;
}

.marketing {
    top: -50px;
    text-align: center;
    position: absolute;
    width: 100%;

    h1 {
        @media(max-width: $screen-xs-max){ font-size: 24px; }
        @media(min-width: $screen-sm-min){ font-size: 30px; }
    }

    p {
        @media(max-width: $screen-xs-max){ font-size: 12px; }
        @media(min-width: $screen-sm-min){ font-size: 18px; }
    }
}

li.disabled{
    display: none;
}

.poster {
    background-color: $background-color;
    display: inline-block;
    @media(max-width: $screen-xs-max){ height: 100px; padding: 1px; }
    @media(min-width: $screen-sm-min){ height: 320px; padding: 4px; }
}

.badge {
    top: -12px;
    right: -10px;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    font-size: 80%;
    border: 2px solid orange;
    border-radius: 15px;
    z-index: 1;
}
.seen-badge{
    border: 2px solid $bright-highlight;
}

.series-profile,
.series-search {
    text-align: left;
    margin: auto;
    padding-top: 15px;

    a {
        display: block;
        position: relative;
    }

    .small-view{
        @media(max-width: $screen-xs-max){ width: 100%; }
        @media(min-width: $screen-sm-min){ width: 25%; }
        @media(min-width: $screen-md-min){ width: 16.6%; }
        @media(min-width: $screen-lg-min){ width: 16.6%; }

        a{
            font-size: 90% !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .following-button {
        margin-top: 10px;
    }

    .archive {
        top: 5%;
        left: 0;
        right: 0;
        position: absolute;
        text-align: center;
        opacity: 1;
        p {
            font-size: 100%;
            background-color: rgba($secondary-color, 0.5);
        }

    }

    .archived {
        opacity: 0.5;
    }

    .badge {
        bottom: 5%;
        right: 5%;
        left: auto;
        top: auto;
        font-size: 180%;
        padding: 3px 10px 4px 8px;
        border: 4px solid orange;
        border-radius: 20px;
        box-shadow: 0 0 1em lighten(orange, 20%);
    }
    .seen-badge{
        border: 4px solid $bright-highlight;
        box-shadow: 0 0 1em lighten($bright-highlight, 20%);
    }

    p {
        font-size: 85%;
        padding:  4px 0px 4px 0px;
        text-shadow: 1px 1px $lighter-text-shadow;
    }

    .extra-info {
        position: relative;
        padding: 10px 0px 15px 10px;
        text-align: left;
        background-color: $primary-color;
        height: 100px;

        a {
            font-size: 110%;
        }

    }

    .follow-wrapper {
        background-color: $secondary-color;
        height: 60px;
    }

    .extra-info-episodes {
        padding: 5px 0px 15px 10px;
        text-align: left;
        background-color: $secondary-color;
        height: 100px;
        text-shadow: 1px 1px $lighter-text-shadow;

        button {
            background-color: rgba(0,0,0,0.5);
            font-size: 120%;
            border: 2px solid $bright-highlight;
            color: $bright-highlight;
            border-radius: 2px;
            padding: 3px 10px 4px 8px;
            right: 5%;
        }
        button:hover {
            color: white;
        }
    }

    li {
        @media(max-width: $screen-xs-max){ width: 100%; }
        @media(min-width: $screen-sm-min){ width: 33%; }
        @media(min-width: $screen-md-min){ width: 25%; }
        @media(min-width: $screen-lg-min){ width: 25%; }
        padding: 0px 10px 0px 10px;
        list-style: none;
        display: inline-block;
        margin-bottom: 15px;
        // TODO: Maybe we should use the SASS version of bootstrap?
        //@media(max-width: $screen-xs-max){}
        //@media(min-width: $screen-sm-min){}  /* deprecated: @screen-tablet, or @screen-sm */
        //@media(min-width: $screen-md-min){}  /* deprecated: @screen-desktop, or @screen-md */
        //@media(min-width: $screen-lg-min){}  /* deprecated: @screen-lg-desktop, or @screen-lg */

        div {
            text-align: center;
        }
    }



    img {
    }

}

.series-search-adjust {
    .extra-info {
        padding: 10px 0px 15px 0px;
        text-align: center;
        background-color: $primary-color;
        height: 60px;

        a {
            font-size: 110%;
        }
    }

    .extra-info-episodes {
        padding: 5px 0px 15px 10px;
        text-align: left;
        background-color: $secondary-color;
        height: 30px;
        text-shadow: 1px 1px $lighter-text-shadow;
    }

    li {
        margin-top: 30px;
        @media(max-width: $screen-xs-max){ width: 100%; }
        @media(min-width: $screen-sm-min){ width: 50%; }
        @media(min-width: $screen-md-min){ width: 33%; }
        @media(min-width: $screen-lg-min){ width: 20%; }
    }
}

/* following button */

.following-button {
	background-color: rgba(0,0,0,0.5);
	font-size: 120%;
	border: 2px solid $bright-highlight;
	color: $bright-highlight;
	border-radius: 2px;
	padding: 3px 10px 4px 8px;
}

.notfollowing {
  border: 2px solid #33B37B !important;
  color: #33B37B !important;
}

.notfollowing:hover {
  border: 2px solid #00ff90 !important;
  color: #00ff90 !important;
}

.following-button:hover,
.following-button:focus {
	color: $bright-highlight;
}



/* seen button */

.seen-button {
    color: $bright-highlight;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 90%;
    border: none;
    border-radius: 2px;
    padding: 3px 8px 4px 8px;
}

.ea-seen-button{
    position: relative;
    float:right;
}

.seen-column:hover .seen-button--season,
.seen-column:hover .seen-button--untill{
    display: inline-block;
}

.seen-button--episode{
    position: relative;
}

.seen-button--season{
    display: none;
    position: absolute;
    left: -183px;
}

.seen-button--untill{
    display: none;
    position: absolute;
    left: -79px;
}

.episode-list {
	font-size: 110%;
	width: 100%;
    margin-top: 15px;

	td {
		padding: 3px 10px 3px 10px;
        vertical-align: top;
	}

    tr.seen {
        color: #666;
    }

	.number {
		width:5%;
		padding-left:20px;
	}

	.title {
        cursor: pointer;
		width: 67%;
	}

    .description{
        margin-top: 10px;
        margin-bottom: 10px;
        color: $light-text;
    }

    .title-row:hover .description-info{
        display: inline-block;
    }

    .description-info{
        display: none;
    }

	.airdate {
        color: #666;
        font-size: 70%;
        @media(min-width: $screen-md-min){ text-align: right; font-size: 100%; color: inherit;}
	}

	.seen-column {
        text-align: right;
		width: 13%;
	}
}

.series-browse{
   .series{
    position: relative;

    span{
        position: absolute;
    }

   }
}

.series-detail {

    .series-left{
        padding-right: 5px;
    }

    .info-text-top {
        padding: 3px 60px 30px 60px;
        @media(max-width: $screen-xs-max){ padding: 5px 0px 5px 20px; }
    }

    h1 {
        @media(max-width: $screen-xs-max){ padding-bottom: 10px; }
        text-shadow: 2px 2px $lighter-text-shadow;
        display: inline-block;
        margin-right: 10px;
    }

    li {
        padding: 0px 0px 0px 0px;
        list-style: none;
    }

    img {
        @media(min-width: $screen-md-min){ margin-left: -15px;}
    }

    p, dl {
        text-shadow: 1px 1px $lighter-text-shadow;
    }

    .badge {
    }

    .following-button {
        color: $bright-highlight;
        position: relative;
        top: -4px;
    }

    .seasons{
        padding-left: 0;
        background-color: $primary-color;
    }

    .btn{
        border-radius: 2px;
    }

    .btn:hover{
        color: #FFF;
    }

    .btn:focus{
        color: $bright-highlight;
    }

    .nav-tabs {
    	border: none;
    	font-size: 130%;

    	a {
    		border-radius: 0px;
    	}

    	li > a {
            text-shadow: none;
            text-decoration: none;
    		padding: 12px 16px 12px 16px;
    		margin-right: 1px;
    		border: none;
    		color: #8A8A8A;
    		background-color: #363636;
    	}

    	li > a:hover {
    		color: #FFF;
    		border: none;
    	}

    	.active > a {
    		color: #FFF;
    		border: none;
    		background-color: #252525;
    	}

    	.active > a:hover {
    		color: #FFF;
    		border: none;
    		cursor: pointer;
    		background-color: #252525;
    	}
    }
}

.series-details-extra {
	background-color: $primary-color;
	margin: 0 0px 40px 0px;
    @media(min-width: $screen-md-min){ margin: 20px 15px 40px -15px;}
	padding: 10px;

	dt {
		float: left;
		clear: both;
        margin-right: 10px;
	}

	dl {
		margin-bottom: 0px;
	}

}

.series-genres {
    text-align: center;
    margin-top : 18px;
    text-transform: uppercase;

    li {
        margin:0px 40px 0px 0px;
        text-align: left;
        display: block;
        list-style: none;
    }

    a.highlight {
        color: orange;
    }
}

.splash-posters {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;

    .series {
        cursor: pointer;
        width: 20%;
        display: inline-block;
        text-align: center;
        position: relative;
        padding-bottom: 20px;

        span {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: $dark-color;
            height: 12px;
            left: 0;
        }

        .active {
            color: $bright-highlight;
            background-color: $bright-highlight;
        }
    }
}

/* have to refactor the entire button situation, using important is just horrible */
.btn-small {
    border: none !important;
    padding: 0px !important;
    background: none !important;
}

.btn-small--archive {

}

.navbar-default {
    margin: auto;
    border: none;
    background-color: $background-color;

    .navbar-form {
        padding-top: 9px;
    }

    .navbar-brand {
        text-transform: uppercase;
        color: $light-text;
        padding-top: 15px;
        font-size: 21px;

        a {
            color: $light-text;
        }
    }

    .navbar-brand:focus, .navbar-brand:hover {
        color: $light-text;
    }

    .navbar-text {
        color: #fff;
        margin-top: 18px;
        margin-bottom: 10px;
    }

    .navbar-link {
        color: #fff;
    }

    .navbar-text > a:hover{
        color: $highlight-color;
    }

    .navbar-nav > li > a {
        color: #fff;
        text-transform: uppercase;
        top: 2px;
        height: 46px;
        font-size: 15px;

        @media(max-width: $screen-md-min){ padding-right:0px; padding-left:5px;}
        @media(max-width: $screen-lg-min){ padding-right:8px; padding-left:5px;}
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: $bright-highlight;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: $bright-highlight;
        background-color: #252525;
    }

    .btn {
        height: 32px;
        color: #FFF;
        background-color: #b7b7b7;
        background-image: none;
        border: 0;
        border-radius: 0;
    }
}

.navbar-form {
    margin-bottom: 2px;
    margin-top: 2px;
}

.form-control-search {
    height: 32px;
    color: $primary-color;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

