@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'scss/bootstrap-social';
@import 'scss/variables';

/* Components */
@import 'scss/components/calendar-carousel';
@import 'scss/components/alerts';
@import 'scss/components/profile';
@import 'scss/components/profile-header';
@import 'scss/components/trending';
@import 'scss/components/series-detail';

/* Shared */
@import 'scss/buttons';
@import 'scss/animations';

@CHARSET "ISO-8859-1";

body {
    background-color: $background-color;
    color: #fff;
    font-family: $font-family;
    font-weight: 400;
    overflow-y: scroll;
}

// usage; description of series, profile welcome, other info
h1 {
    font-size: 200%;
    margin: 0px;
    line-height: 150%;
    display: inline-block;
}

/* reset some defaults */
button:focus,
button:active {
    outline: none !important;
}

a {
    color: $bright-highlight;
}

a:hover, a:focus {
    color: $bright-highlight;
}

p {
    margin: 0 0 0px;
}

ul {
    padding-left:  0px;
}

/* spacers */
.spacer-lg{
    padding-top: 40px;
    padding-bottom: 40px;
}

.spacer-md{
    padding-top: 30px;
    padding-bottom: 30px;
}

.spacer-sm{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* overwrite for angular-ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.registration{
    h1{
        color: $bright-highlight;
    }
    ul{
        padding-left:30px;
        font-size: 1.3em;
    }

}

.password-reset{
    form{
        width: 45%;
    }
}

.login{
    h1{
        color: $bright-highlight;
    }
    .social-login{
        a{
            width: 50%;
        }
    }
    .password-reset{
        font-size: 1em;
        padding-left: 17px;
    }
    form{
        width: 75%;
    }
    .register{
        font-size: 1.4em;
    }
}

.form-control-feedback{
    color: #000000;
}

.unseen-badge{
    position: absolute;
    top: -10px;
    right: 0px;
}

.settings{
    .settings-block{

        h3{
            margin-top: 0px;
        }

        div:first-child{
            background-color: $primary-color;
            padding: 15px;

            div{
                padding: 5px 0px 5px 0px;
            }
        }

        button{
            margin-top: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 120%;
            border: 2px solid #00ff90;
            color: #00ff90;
            border-radius: 20px;
            padding: 3px 10px 4px 8px;
        }
    }
}

.ea-content {
	min-height: 600px;
}

.container--navbar {
    font-weight: 300;
    background-color: #252525;
    @media(min-width: $screen-sm-min){ padding: 12px 0px 12px 20px; }

    p{
        margin-right: 10px;
    }
}

.footer{
    margin-top: 20px;
    margin-bottom: 5px;

    font-size: 80%;
    div{
        color: $lighter-text;
        text-align: right;
    }

    div:first-child {
        text-align: left;
    }

}

.guide {
    table{
        background-color: $background-color;

        td{
            border:none !important; //important sucks
        }

        tr:nth-of-type(odd){
           background-color: lighten( $background-color, 2% );
        }
    }
}

li.disabled{
    display: none;
}

.badge {
    top: -12px;
    right: -10px;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    font-size: 80%;
    border: 2px solid orange;
    border-radius: 15px;
    z-index: 1;
}

.seen-badge{
    border: 2px solid $bright-highlight;
}

/* seen button */
.seen-button {
    color: $bright-highlight;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 90%;
    border: none;
    border-radius: 2px;
    padding: 3px 8px 4px 8px;
}

.ea-seen-button{
    position: relative;
    float:right;
}

.seen-column:hover .seen-button--season,
.seen-column:hover .seen-button--untill{
    display: inline-block;
}

.seen-button--episode{
    position: relative;
}

.seen-button--season{
    display: none;
    position: absolute;
    left: -183px;
}

.seen-button--untill{
    display: none;
    position: absolute;
    left: -79px;
}

.series-browse{
   .series{
    position: relative;

    span{
        position: absolute;
    }

   }
}

.series-genres {
    text-align: center;
    margin-top : 18px;
    text-transform: uppercase;

    li {
        margin:0px 40px 0px 0px;
        text-align: left;
        display: block;
        list-style: none;
    }

    a.highlight {
        color: orange;
    }
}

.navbar-default {
    margin: auto;
    border: none;
    background-color: $background-color;

    .navbar-form {
        padding-top: 9px;
    }

    .navbar-brand {
        text-transform: uppercase;
        color: $light-text;
        padding-top: 15px;
        font-size: 21px;

        a {
            color: $light-text;
        }
    }

    .navbar-brand:focus, .navbar-brand:hover {
        color: $light-text;
    }

    .navbar-text {
        color: #fff;
        margin-top: 18px;
        margin-bottom: 10px;
    }

    .navbar-link {
        color: #fff;
    }

    .navbar-text > a:hover{
        color: $highlight-color;
    }

    .navbar-nav > li > a {
        color: #fff;
        text-transform: uppercase;
        top: 2px;
        height: 46px;
        font-size: 15px;

        @media(max-width: $screen-md-min){ padding-right:0px; padding-left:5px;}
        @media(max-width: $screen-lg-min){ padding-right:8px; padding-left:5px;}
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: $bright-highlight;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: $bright-highlight;
        background-color: #252525;
    }

    .btn {
        height: 32px;
        color: #FFF;
        background-color: #b7b7b7;
        background-image: none;
        border: 0;
        border-radius: 0;
    }
}

.navbar-form {
    margin-bottom: 2px;
    margin-top: 2px;
}

.form-control-search {
    height: 32px;
    color: $primary-color;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}