$light-text: #C9C9C9;
$bright-highlight : #00ff90;
$dark-color: #212a3f;
$light-color: #434f5b;
$background-color: #101010;
$highlight-color: #8ab839;
$primary-color: #252525;
$secondary-color: #363636;
$lighter-text-shadow: #0F0F0F;
$lighter-text: #e7e7e7;
$font-family: "Open Sans", sans-serif;