/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/js/*.min.js
public/node_modules/
node_modules
*.scssc
npm-debug.log
public/css/*.css
public/img/banner/*
public/img/fanart/*
public/img/poster/*
public/dist/
public/css/
app/storage/tmp/
app/config/local/database.php
public/js/vendor/_bower.js
public/bower_components
app/config/client_secret.json
public/fonts
*.orig
.idea/workspace.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
*.iml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/.name
public/sitemap.xml
node_modules/gulp/node_modules/chalk/node_modules/.bin/strip-ansi
.brackets.json