/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
*.scssc
npm-debug.log
public/bower_components
public/css/
public/css/*.css
public/dist/css/*.css
public/dist/js/*.js
public/fonts/
public/img/banner/*
public/img/fanart/*
public/img/poster/*
public/js/*.min.js
public/js/vendor/_bower.js
public/node_modules/
app/storage/tmp/
app/config/client_secret.json
app/config/local/database.php