/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/js/*.min.js
public/node_modules/
*.scssc
npm-debug.log
public/css/*.css
public/img/fanart/*
public/img/poster/*
public/dist/js/*.js
public/dist/css/*.css
public/css/
app/storage/tmp/