<div class="user-list">
    <h1>Users</h1>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control form-control-search" ng-model="query" ng-model-options="{ debounce: 300 }" id="search" placeholder="Search..." />
        </div>
        <div class="col-md-8">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Accountname</th>
                <th>Email</th>
                <th>provider</th>
                <th>alerts</th>
                <th>created</th>
                <th>updated</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users" ui-sref="useredit({userId: user.id})">
                <td>{{ ::user.id }}</td>
                <td>{{ ::user.accountname }}</td>
                <td>{{ ::user.email }}</td>
                <td>{{ ::user.oauthprovider }}</td>
                <td>{{ ::user.alerts  }}</td>
                <td>{{ ::user.created_at }}</td>
                <td>{{ ::user.updated_at }}</td>
            </tr>
        </tbody>
    </table>
</div>