<div class="row splash-brand">
    <p>episode alert <img src="img/logo-71x50.png" alt="Episode Alert" /></p>
</div>
<div class="row splash-fanart">
    <div ng-repeat="series in series"
        ng-show="currentSeries==series.id"
        class="fanart-background"
        style="background-image: url('{{ series.poster_image | createFanartUrl : series.unique_name }}');">
    </div>
    <span class="splash-fanart-fade"></span>

    <div class="marketing">
        <div class="col-xs-4 col-md-4">
            <h1>Follow</h1>
            <p>Find your favorite<br/>TV Series</p>
        </div>
        <div class="col-xs-4 col-md-4">
            <h1>Get Notified</h1>
            <p>Receive email<br/>notifications</p>
        </div>
        <div class="col-xs-4 col-md-4">
            <h1>Keep Track</h1>
            <p>Remember episodes<br/>you've seen</p>
        </div>
    </div>

    <div class="splash-posters">
        <div class="series" ng-repeat="series in series">
            <a href="/series/{{::series.unique_name}}">
                <img class="img-responsive poster" ng-src="{{ series.poster_image | createImageUrl : series.unique_name }}" alt="{{ ::series.name }}" />
            </a>
            <span ng-class="{active: isSelected(series.id)}"></span>
        </div>
    </div>
</div>