<div ng-if="!credentials.auth" class="row splash-brand">
    <p>episode alert <img src="img/logo-71x50.png" alt="Episode Alert" /></p>
</div>

<div class="row splash-fanart">
    <div ng-repeat="series in series"
        ng-show="currentSeries==series.id"
        class="fanart-background"
        style="background-image: url('{{ series.poster_image | createFanartUrl : series.unique_name }}');">
    </div>
    <span class="splash-fanart-fade"></span>

    <!--calendar-->
    <div ng-if="credentials.auth" ng-controller="CalendarCtrl" class="calendar-carousel" ng-init="init()">
        <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1"><i ng-click="clickPreviousDaysButton()" class="fa fa-angle-left"></i></div>
                <div class="col-xs-8 col-sm-10 col-md-10">

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h2>{{ dayOneName }}</h2>
                            </h1>
                            <ul>
                                <li ng-repeat="episode in yesterdayEpisodes" class="fade">
                                   <a href="/series/{{ ::episode.unique_name }}">{{ ::episode.seriesName }} S{{ ::episode.season | numberFixedLen:2 }}E{{ ::episode.episode | numberFixedLen:2 }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h2>{{ dayTwoName }}</h2>
                            </h1>
                            <ul>
                                <li ng-repeat="episode in todayEpisodes" class="fade">
                                    <a href="">{{ ::episode.seriesName }} S{{ ::episode.season | numberFixedLen:2 }}E{{ ::episode.episode | numberFixedLen:2 }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h2>{{ dayThreeName }}</h2>
                            </h1>
                            <ul>
                                <li ng-repeat="episode in tomorrowEpisodes" class="fade">
                                    <a href="">{{ ::episode.seriesName }} S{{ ::episode.season | numberFixedLen:2 }}E{{ ::episode.episode | numberFixedLen:2 }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            <div class="col-xs-2 col-sm-1 col-md-1 text-left"><i ng-click="clickNextDaysButton()" class="fa fa-angle-right"></i></div>
        </div>
    </div>
    <!--calendar-->

    <div ng-if="!credentials.auth" class="marketing">
        <div class="col-xs-4 col-md-4">
            <h1>Follow</h1>
            <p>Find your favorite<br/>TV Series</p>
        </div>
        <div class="col-xs-4 col-md-4">
            <h1>Get Notified</h1>
            <p>Receive email<br/>notifications</p>
        </div>
        <div class="col-xs-4 col-md-4">
            <h1>Keep Track</h1>
            <p>Remember episodes<br/>you've seen</p>
        </div>
    </div>

    <div class="splash-posters">
        <div class="series" ng-repeat="series in series">
            <a href="/series/{{::series.unique_name}}">
                <img class="img-responsive poster" ng-src="{{ series.poster_image | createImageUrl : series.unique_name : 'medium' }}" alt="{{ ::series.name }}" />
            </a>
            <span ng-class="{active: isSelected(series.id)}"></span>
        </div>
    </div>
</div>