<div class="guide">

    <div class="row info-text-top">
        <div ng-controller="ProfileHeaderCtrl" ng-include src="'templates/partial/_profile-header.html'" />
    </div>

    <h1>Recent Episodes</h1>

    <table class="table table-striped">
        <tr>
            <th>
                Air Date
            </th>
            <th>
                Series
            </th>
            <th>
                Episode
            </th>
            <th>
                Episode title
            </th>
            <th>

            </th>
        </tr>
        <tr ng-repeat="episode in guide">
            <td>
                {{ ::episode.airdate }}
            </td>
            <td>
                <a href="/series/{{ ::episode.unique_name }}">{{ ::episode.seriesName }}</a>
            </td>
            <td>
                S{{ ::episode.season | numberFixedLen:2 }}E{{ ::episode.episode | numberFixedLen:2 }}
            </td>
            <td>
                {{ ::episode.name }}
            </td>

            <td>
                <seen-button episode="episode"></seen-button>
            </td>
        </tr>
    </table>

</div>
