<div class="privacy">
    <h1>Privacy Policy</h1>
    <p>We can be reached via e-mail at info@episode-alert.com </p>

    <p>For each visitor to our Web page, our Web server automatically recognizes no information regarding the domain or e-mail address.</p>

    <p>We collect information volunteered by the consumer, such as survey information and/or site registrations.</p>

    <p>The information we collect is used to improve the content of our Web page, used to customize the content and/or layout of our page for each individual visitor, used to notify consumers about updates to our Web site. </p>

    <p>With respect to cookies: We use cookies to store visitors preferences, record session information, such as items that consumers add to their shopping cart. </p>

    <p>If you do not want to receive e-mail from us in the future, please let us know by or If you no longer wish to receive alerts of TV shows you are following please login to your account and disable the email alerts. </p>

    <p>With respect to Ad Servers: To try and bring you offers that are of interest to you, we have relationships with other companies that we allow to place ads on our Web pages. As a result of your visit to our site, ad server companies may collect information such as your domain type, your IP address and clickstream information.</p>
</div>
