<div class="profile">
	<div class="row info-text-top">
		<h1>{{ date | greet: credentials.username }}</h1>
		<p>Currently you are <strong>following {{ series.length }} shows.</strong> You have <strong><a href="/guide">{{ unseenAmount }} unwatched episodes</a></strong> waiting for you. Use the filters below to display shows that match your criteria. By the way, did you know you are following more series then 76% of your fellow Episode Alert users? Neither did we. Do  you have some great ideas for the site? Feel free to give us a shout.</p>
	</div>
	<div class="row profile-filters">
		Filters 
		<button class="btn btn--profile-filter" ng-class="{active: seen}" ng-click="toggleUnseen()"><span class="glyphicon glyphicon-ok" />unseen</button>
		<button class="btn btn--profile-filter" ng-class="{active: !ended}" ng-click="toggleEnded()"><span class="glyphicon glyphicon-ok" />continueing</button>
		<button class="btn btn--profile-filter" ng-class="{active: archive}" ng-click="toggleArchive()"><span class="glyphicon glyphicon-ok" />archived</button>
		<!-- Dunno how to implement these filters: 
		<button class="btn btn--profile-filter"><span class="glyphicon glyphicon-plus" />favorite</button>
		<button class="btn btn--profile-filter"><span class="glyphicon glyphicon-plus" />2014</button>
		<button class="btn btn--profile-filter"><span class="glyphicon glyphicon-plus" />nudity</button>
		-->
	</div>
	<div class="row profile-series">
		<ul class="series-profile">
		    <li ng-repeat="series in series" class="animation">
				<div onLoad="followButton='false'" ng-include src="'templates/partial/_series-profile.html'" />
		    </li>
		 </ul>
	</div>
</div>
