<div class="profile">
	
	<!-- <div ui-view="wurst"></div>
 -->
	<div class="row info-text-top">

		<div ng-controller="ProfileHeaderCtrl" ng-include src="'templates/partial/_profile-header.html'" />

	</div>

	<div class="profile-sub-navigation">
		<a ui-sref="profile.series"><span ng-class="::{ active: activePage == 'profile'}" alt="open your profile" class="setting glyphicon glyphicon-user" aria-hidden="true"></span> Series</a>
		<a ui-sref="profile.guide"><span ng-class="::{ active: activePage == 'guide'}" alt="open your calendar" class="setting glyphicon glyphicon-calendar" aria-hidden="true"></span> Guide</a>
	</div>

	<div ui-view></div>

</div>