<div class="profile">

	<div class="row info-text-top">

		<div ng-controller="ProfileHeaderCtrl" ng-include src="'templates/partial/_profile-header.html'" />

	</div>
	<div class="row profile-filters">
		<span class="hidden-xs">Filters </span>
		<button class="btn btn--profile-filter" ng-class="{active: seen}" ng-click="toggleUnseen()">
			<span ng-show="seen == true" class="glyphicon glyphicon-ok" />
			<span ng-show="seen == false" class="glyphicon glyphicon-plus" />
			unseen
		</button>
		<button class="btn btn--profile-filter" ng-class="{active: !ended}" ng-click="toggleEnded()">
			<span ng-show="ended == true" class="glyphicon glyphicon-plus" />
			<span ng-show="ended == false" class="glyphicon glyphicon-ok" />
			continueing
		</button>
		<button class="btn btn--profile-filter" ng-class="{active: archive}" ng-click="toggleArchiveSetting()">
			<span ng-show="archive == true" class="glyphicon glyphicon-ok" />
			<span ng-show="archive == false" class="glyphicon glyphicon-plus" />		
			archived
		</button>

		<!-- Dunno how to implement these filters: 
		<button class="btn btn--profile-filter"><span class="glyphicon glyphicon-plus" />favorite</button>
		<button class="btn btn--profile-filter"><span class="glyphicon glyphicon-plus" />2014</button>
		<button class="btn btn--profile-filter"><span class="glyphicon glyphicon-plus" />nudity</button>
		-->
	</div>
	<div class="row profile-series">
		<ul class="series-profile">
		    <li ng-repeat="series in profileSeries| orderBy:'archive'" class="fade fadein">
				<div onLoad="followButton='false'" ng-include src="'templates/partial/_series-profile.html'" />
		    </li>
		 </ul>
	</div>
</div>
