<div class="series-detail">
    <div class="row info-text-top">
        <h1>{{ ::series.name }}</h1>

        <follow-button series="series"></follow-button>
        <archive-button series="series"></archive-button>


        <p class="hidden-xs hidden-xm">{{ ::series.description }}</p>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 series-left">
            <img class="img-responsive hidden-xs hidden-sm" ng-src="{{ series.poster_image }}">
            <img class="img-responsive hidden-md hidden-lg" ng-src="{{ series.banner_image }}">
            <div class="series-details-extra">
                <dl>
                    <dt> Rating </dt>
                    <dd> {{ ::series.rating }} </dd>                
                    <dt> First aired </dt>
                    <dd> {{ ::series.firstaired }} </dd>
                    <dt> Status </dt>
                    <dd> {{ ::series.status }} </dd>
                </dl>
                <a target="new" href="http://www.imdb.com/title/{{ ::series.imdb_id }}/">IMDB</a>
            </div>
        </div>

        <!-- some spacing added through the offset -->
        <div class="col-xs-12 col-sm-12 col-md-8 seasons">
            <eatabset>
                <eatab select="loadSeason(series.id, season.number)" ng-repeat="season in series.season_object" heading="{{ ::season.title}}" active="season.active" disabled="season.disabled" ng-init="loadUnseenForSeason(series.id, season.number)" unseen="{{season.unseen}}">
                    <table class="episode-list">
                        <tr ng-repeat="episode in season.content" ng-class="episode.seen ? 'seen' : 'unseen'">
                            <td class="number">
                                {{ ::episode.episode }}
                            </td>
                            <td class="title">
                                <div class="row title-row" ng-click="isCollapsed = !isCollapsed">
                                    <div class="col-xs-12 col-sm-12 col-md-8">{{ ::episode.name || 'Unnamed episode' }}
                                        <span class="description-info">
                                            <span ng-class="isCollapsed ? 'fa-chevron-up' : 'fa-chevron-down'" class="fa " />
                                        </span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 airdate">{{ ::episode.airdate }}</div>
                                </div>
                                <div collapse="!isCollapsed" class="row description">
                                    <div class="col-xs-12 col-sm-12 col-md-12">{{ ::episode.description || 'No description...yet...'}}</div>
                                </div>
                            </td>
                            <td class="seen-column">
                                <seen-button series="series" episode="episode"></seen-button>
                            </td>
                        </tr>
                    </table>
                </eatab>
            </eatabset>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7">

        </div>
    </div>

    <!-- background image
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <img ng-show="series.fanart_image" class="img-responsive" ng-src="{{ series.fanart_image | createFanartUrl : series.unique_name }}">
        </div>
    </div>
    -->

</div>
