<div class="series-detail">
    <div class="row info-text-top">
        <h1>{{ ::series.name }}</h1> 

        <button 
              ng-controller="FollowingCtrl"
              ng-show="series"
              ng-mouseover="mouseOver(series)" 
              ng-mouseout="mouseOut(series)" 
              ng-click="toggleFollowing(series)"
              ng-class="series.following ? 'following' : 'notfollowing'"
              class="btn following-button following-button--series-detail" >{{ buttonLabel }}</button>

        <p>{{ ::series.description }}</p>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">

            <img class="img-responsive" ng-src="{{ series.poster_image | createImageUrl : series.unique_name }}">

            <div class="series-details-extra">
                <dl>
                    <dt> First aired </dt>
                    <dd> {{ ::series.firstaired }} </dd>
                    <dt> Rating </dt>
                    <dd> {{ ::series.rating }} </dd>
                    <dt> Status </dt>
                    <dd> {{ ::series.status }} </dd>
                </dl>
                <a target="new" href="http://www.imdb.com/title/{{ ::series.imdb_id }}/">IMDB</a>

           </div>

        </div>

        <!-- some spacing added through the offset -->
        <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 seasons">
            <tabset>
                <tab select="loadSeason(series.id, season.number)" ng-repeat="season in seasons" heading="{{ ::season.title}}" active="season.active" disabled="season.disabled" ng-init="loadUnseenForSeason(series.id, season.number)" unseen="{{season.unseen}}">
                    <table class="episode-list">
                        <tr ng-repeat="episode in season.content" ng-class="episode.seen ? 'seen' : 'unseen'">
                            <td class="number">
                                {{ ::episode.episode }}
                            </td>
                            <td class="title">
                                {{ ::episode.name }}
                            </td>
                            <td class="airdate">
                                {{ ::episode.airdate }}
                            </td>
                            <td class="seen-column">
                                <div class="ea-seen-button" ng-if="episode.aired > 0">
                                    <button ng-controller="SeenCtrl" class="btn seen-button seen-button--season" ng-click="toggleSeason(episode)">entire season</button>
                                    <button ng-controller="SeenCtrl" class="btn seen-button seen-button--untill" ng-click="toggleUntil(episode)">until here</button>
                                    <button ng-controller="SeenCtrl" class="btn seen-button seen-button--episode" ng-click="toggleEpisode(episode)">{{ episode.seen ? 'Seen' : 'Not seen' }}</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </tab>
            </tabset>
       </div>
    </div>

    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7">

        </div>
    </div>

    <!-- background image
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <img ng-show="series.fanart_image" class="img-responsive" ng-src="{{ series.fanart_image | createFanartUrl : series.unique_name }}">
        </div>
    </div>
    -->

</div>