<div>
	<ul class="series-genres">
		<li ng-repeat="genre in allGenres">
			<a ng-class="{highlight: highlightGenre(selectedGenre, genre)}" href="#/series/genre/{{getGenreInLowerCase(genre)}}">{{genre}}</a>
		</li>	
	</ul>
	<h3>By Genre : {{selectedGenre}} </h3>
	<ul class="series-search">
	    <li ng-repeat="series in series">
	        <a href="#/series/{{series.unique_name}}">
	            <h3>{{ series.name }}</h3>
	            <img class="img-responsive" ng-src="{{ series.poster_image | createImageUrl : series.unique_name }}" alt="{{ series.name }}" />
	        </a>
	        <button class="btn btn-default" ng-click="followSeries()">Follow</button>
	    </li>
	 </ul>
</div>