<div>
	<ul class="series-genres">
		<li ng-repeat="genre in allGenres">
			<a ng-class="{highlight: highlightGenre(selectedGenre, genre)}" href="/series/genre/{{getGenreInLowerCase(genre)}}">{{genre}}</a>
		</li>	
	</ul>
	<h3>By Genre : {{selectedGenre}} </h3>
	<ul class="series-search list-inline" infinite-scroll="getByGenre()" infinite-scroll-disabled='loadingGenre' infinite-scroll-distance='1'>
	    <li ng-repeat="series in series">
			<div onLoad="followButton='true'" ng-include src="'templates/partial/_series-small.html'" >
	    </li>
	 </ul>
	 <div ng-show='loadingGenre'>Loading data...</div>
</div>