<div id="flash" class="alert alert-success" ng-show="flash">
    {{ flash }}
</div>

<div ng-controller="SeriesSearchCtrl">
  <h2> Search results</h2>
  <ul class="series-search">
    <li ng-repeat="series in series">
        <a href="#/series/{{series.unique_name}}">
            <h3>{{ series.name }}</h3>
            <img class="img-responsive" ng-src="{{ series.poster_image | createImageUrl : series.unique_name }}" alt="{{ series.name }}" />
        </a>
        <button class="btn btn-default" ng-click="followSeries()">Follow</button>
    </li>
</div>
