<div>
	<button class="ea-btn ea-btn--follow">Following</button>
	
	<button class="ea-btn ea-btn--follow ea-btn--notfollowing">Follow</button>

	<button class="ea-btn ea-btn--seen">Seen</button>
	<button class="ea-btn ea-btn--seen ea-btn--notseen">Not seen</button>

	<button class="ea-filter"><i class="fa fa-plus"></i> continuing</button>
	<button class="ea-filter"><i class="fa fa-plus"></i> archived</button>
	<button class="ea-filter"><i class="fa fa-plus"></i> unseen</button>

	<button class="ea-filter ea-filter--active"><i class="fa fa-check"></i> continuing</button>
	<button class="ea-filter ea-filter--active"><i class="fa fa-check"></i> archived</button>
	<button class="ea-filter ea-filter--active"><i class="fa fa-check"></i> unseen</button>

	<hr/>
	<hr/>
	<div class="profile">
		<div class="profile-filters">
			<button class="btn btn--profile-filter">
					<span class="fa fa-plus"></span>
					continuing
			</button>
		</div>
	</div> 
	<button class="btn following-button" >Follow</button>
	<button class="btn seen-button seen-button--episode ng-binding" ng-click="toggleEpisode(episode)">Not seen</button>

</div>