<div class="login">

    <div class="row splash-brand ng-scope spacer-sm">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p>episode alert <img src="img/logo-71x50.png" alt="Episode Alert">
            </p>
        </div>
    </div>

    <div class="row register">
       <div class="col-xs-8 col-sm-8 col-md-8 spacer-sm col-sm-offset-4">
           Didn't register yet? <a href="/register">Register here!</a>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 spacer-sm social-login">
            <h1>Login through social account</h1>
            <div ng-controller="LoginCtrl" class="spacer-sm">
                <google-login class="btn-lg"></google-login>
                <br/>
                <facebook-login></facebook-login>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 spacer-sm">
            <h1>Or login with e-mail / password</h1>
            <form ng-submit="login()" class="spacer-sm">
                <fieldset class="radius">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="email" placeholder="email" ng-model="credentials.email" required/>
                        <i class="form-control-feedback has-feedback-left glyphicon glyphicon-envelope"></i>
                     </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="password" placeholder="password" ng-model="credentials.password" required/>
                        <i class="form-control-feedback has-feedback-left glyphicon glyphicon-lock"></i>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            Log In
                        </button>
                    </div>
                </fieldset>
            </form>
            <div class="row password-reset">
                Lost your password? <a href="/passwordreset">Password reset here</a>
            </div>
        </div>

    </div>
</div>