
<div id="login" class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h1>Login</h1>

        <form ng-submit="login()">
            <fieldset class="radius">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="username" ng-model="credentials.username" required/>
                 </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password" ng-model="credentials.password" required/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log In</button>
                </div>
            </fieldset>
        </form>

        <a href="/register">Register</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
        <h1>Login with:</h1>
        <div ng-controller="LoginCtrl">
            <google-login></google-login>
            <br/>
            <facebook-login></facebook-login>
        </div>
    </div>
    
</div>