<div class="password-reset row" ng-controller="PasswordResetCtrl">

    <div class="col-xs-12 col-sm-12 col-md-12 spacer-sm">
        <h1>Please fill in your e-mail address and a new password</h1>
        <form ng-submit="passwordReset()" class="spacer-sm">
            <fieldset class="radius">
                <input type="hidden" name="token" value="{{ $routeParams.token }}">

                <div class="form-group has-feedback">
                    <label class="control-label">Reset password</label>
                    <input type="text" class="form-control" name="email" placeholder="email" ng-model="credentials.email" required/>
                    <i class="form-control-feedback has-feedback-left fa fa-envelope"></i>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label">New Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" ng-model="password" required/>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label">Confirm password</label>
                    <input type="password" class="form-control" name="password_confirmation" placeholder="password confirmation" ng-model="password_confirmation" required/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Save password</button>
                </div>

            </fieldset>
        </form>


    </div>

</div>