.calendar-carousel{
    min-height: 200px;
    // HiDPI screens
    @media only screen and (-webkit-min-device-pixel-ratio : 2),
           only screen and (min-device-pixel-ratio : 2),
           only screen and (min--moz-device-pixel-ratio: 2) {

        font-size: 90%;
    }

    text-align: center;
    position: relative;
    @media(max-width: $screen-xs-max){
        top: -70px;
    }

    li{
        font-size: 80%;
        width: 44%;
        background-color: rgba(0,0,0,0.8);
        margin: 8px;
        //border-radius: 8px;
        z-index: 1;
        border-bottom: 4px solid darken( $bright-highlight, 35% );
        float: left;

        @media(max-width: $screen-xs-max){
            font-size: 80%;
            border: none;
            margin: 0px;
            border: 1px solid darken( $bright-highlight, 35% );
            padding: 0px;
        }
      
        a{
            padding-bottom: 6px;
            text-decoration: none;
            background-color: $primary-color;
            display: inline-block;

            img{
                padding: 0px 0px 6px 0px;
            }
        }
    }

    li:hover{
      border-color: $bright-highlight;
    }

    i{
        cursor: pointer;
        position: absolute;
        top: 1em;
        font-size: 5em;
    }

    h2{
        font-family: $font-header;  
        
        @media(max-width: $screen-xs-max){
            font-size: 120%;
        }
    }

    li{
        text-align: center;
        list-style-type: none;
    }

}