/*
 *  Styles for the header you see on top of all the profile pages
 */

.info-text-top {

    padding: 3px 30px 30px 30px;
    @media(max-width: $screen-xs-max){ padding: 3px 0px 0px 20px; margin-top: -12px;}

    //background-color: $background-color;
        // HiDPI screens
        @media only screen and (-webkit-min-device-pixel-ratio : 2) and (min-width: $screen-md-min),
               only screen and (min-device-pixel-ratio : 2) and (min-width: $screen-md-min),
               only screen and (min--moz-device-pixel-ratio: 2) and (min-width: $screen-md-min){

            margin-top: -10px;
            padding: 0px 10px 20px 30px;
        }         

    p {
        line-height: 180%;


}

    h1 {
        @media(max-width: $screen-xs-max) { font-size: 100%; }
    }
}

.profile-sub-navigation{
    display: inline-block;
    font-size:150%;
    top: 2px;
    margin: 0px 10px 0px 10px;
    @media(max-width: $screen-xs-max)
    {
        font-size: 100%;
    }
    
    .setting{
        color: $bright-highlight;
        cursor: pointer;

    }

    .setting.active{
        color: $highlight-color;;
    }

    .setting:hover{
        color: $highlight-color;
    }

}
