<div class="row info-text-top">

	<div ng-controller="ProfileHeaderCtrl" ng-include src="'templates/partial/_profile-header.html'" />
	<div class="row">

	    <div class="col-xs-12 col-sm-12 col-md-12">
			<h3>Your settings</h3>

			<div>
				<label>
					<input type="checkbox" checked />
					Public following list
				</label>
			</div>

			<div>
				<label><input type="checkbox" checked />
				Receive e-mail alerts</label>
			</div>

			<div>
				<label><input type="checkbox" />
				Public following list</label>
			</div>
		</div>
	</div>
</div>