	<div class="row profile-filters">
		<span class="hidden-xs">Filters </span>
		<button class="ea-filter" ng-class="{'ea-filter--active': seen}" ng-click="toggleUnseen()">
			<span ng-show="seen == true" class="fa fa-check" />
			<span ng-show="seen == false" class="fa fa-plus" />
			unseen
		</button>
		<button class="ea-filter" ng-class="{'ea-filter--active': !ended}" ng-click="toggleEnded()">
			<span ng-show="ended == true" class="fa fa-plus" />
			<span ng-show="ended == false" class="fa fa-check" />
			continuing
		</button>
		<button class="ea-filter" ng-class="{'ea-filter--active': archive}" ng-click="toggleArchiveSetting()">
			<span ng-show="archive == true" class="fa fa-check" />
			<span ng-show="archive == false" class="fa fa-plus" />
			archived
		</button>

        <button class="hidden-xs btn btn-profile--toggle" ng-class="smallview" ng-click="toggleSmallView()">
            <span ng-show="smallview == true" class="fa fa-th-large" />
            <span ng-show="smallview == false" class="fa fa-th" />
        </button>

	</div>
	<div class="row profile-series">
		<ul class="series-profile" as-sortable="{{touchdevice && '' || 'dragControlListeners' }}" ng-model="profileSeries">
		    <li ng-repeat="series in profileSeries" as-sortable-item class="fade fadein" ng-class="{'small-view': smallview}">
		    	<div as-sortable-item-handle class="hidden-xs"><i class="fa fa-arrows-alt"></i></div>
				<div onLoad="followButton='false'" ng-include src="'templates/partial/_series-profile.html'" />
		    </li>
		 </ul>
        <div ng-if="profileTopSeries.length > 0" class="series-browse">
            <h2>You are not followin any series at the moment, how about these?</h2>
            <ul class="series-search list-inline" infinite-scroll="getByGenre()" infinite-scroll-disabled='loadingGenre' infinite-scroll-distance='1'>
                <li ng-repeat="series in profileTopSeries">
                    <div onLoad="followButton='true'" ng-include src="'templates/partial/_series-small.html'" >
                </li>
             </ul>
        </div>
	</div>