<div class="row info-text-top">
    <div ng-controller="ProfileHeaderCtrl" ng-include src="'templates/partial/_profile-header.html'" />
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4">
        <h3>Password change</h3>
        <div>
            <label>
                Your current password
            </label>
            <input class="form-control" type="text" />

        </div>
        <div>
            <label>
                New password
            </label>
            <input class="form-control" type="text" />

        </div>
        <div>
            <label>
                Re-Type new password
            </label>
            <input class="form-control" type="text" />
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
        <h3>User information</h3>
        <div>
            <label>
                Change your username
            </label>
            <input class="form-control" type="text" />
        </div>
        <div>
            <label>
                Change your e-mail address
            </label>
            <input class="form-control" type="text" />

        </div>
        <div>
            <label>
                Re-Type new password
            </label>
            <input class="form-control" type="text" />

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
        <h3>Profile settings</h3>
        <div>
            <label>
                Public following list
                <input type="checkbox" checked />
            </label>
        </div>

        <div>
            <label>
                Receive e-mail alerts
                <input type="checkbox" checked />
            </label>
        </div>

        <div>
            <label>
                Show adds
                <input type="checkbox" />
            </label>
        </div>
    </div>

</div>