<div class="row info-text-top">
    <div ng-controller="ProfileHeaderCtrl" ng-include src="'templates/partial/_profile-header.html'" />
</div>

<div class="row settings">

    <div class="col-xs-12 col-sm-12 col-md-4 settings-block">
        <div>
            <h3>User information</h3>
            <div>
                <label>
                    Change your username
                </label>
                <input class="form-control" type="text" ng-model="cred.username" />
            </div>
            <div>
                <label>
                    Change your e-mail address
                </label>
                <input class="form-control" type="text" ng-model="cred.email" />

            </div>
            <div>
                <button ng-click="saveCredentials()">Save</button>
            </div>            
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 settings-block">
        <div>
            <h3>Password change</h3>
            <div>
                <label>
                    Your current password
                </label>
                <input class="form-control" type="password" ng-model="password.old"/>

            </div>
            <div>
                <label>
                    New password
                </label>
                <input class="form-control" type="password" ng-model="password.new"/>

            </div>
            <div>
                <label>
                    Re-Type new password
                </label>
                <input class="form-control" type="password" ng-model="password.new_confirmation"/>
            </div>
            <div>
                <button ng-click="savePassword()">Save</button>
            </div>
        </div>
    </div>    

    <div class="col-xs-12 col-sm-12 col-md-4 settings-block">
        <div>
            <h3>Profile settings</h3>
            <div>
                <label>
                    Public following list
                    <input type="checkbox" ng-model="preferences.publicfollow" />
                </label>
            </div>

            <div>
                <label>
                    Receive e-mail alerts
                    <input type="checkbox" ng-model="preferences.alerts" />
                </label>
            </div>
            <div>
                <button ng-click="savePreferences()">Save</button>
            </div>            
        </div>
    </div>

</div>

